/*OMDB Styling starts*/

/*Article styling*/
#lights-camera-action {
    background-color: #8c8c8c;
}

/*OMDB h1 element styling*/
#movie {
    font-weight: bold;
    font-size: 2.8125em;
    text-decoration: underline;
}

/*OMDB h2 element styling*/
#title {
font-weight: bold;
font-size: l.25em;
}

/*styling for icons in Search and Reset buttons*/
#play, #rewind {
margin-left: 0.625em;
}

/*Search and Reset buttons styling*/
#search, #clear {
    font-size: 1.125em;
    border-radius: 0.3125em;
}




/*OMDB styling ends*/