/* General Page Styles */

* {
  font-family: 'Josefin Sans', sans-serif;
}

/* movie poster slideshow styling */
#movie-posters {
    height: 500px;
    width: 500px;
    object-fit: contain;
}


/*OMDB Styling starts*/

/*Article styling*/

#lights-camera-action {

    background-color: #4d94ff;
    border: 0.625em groove #737373;
    border-radius: 1.5625em; 
    margin-top: 0.9375em;
}

label {
  font-weight: bold;
  color: #ffffff;
  font-size: 0.9375em;
}

/*OMDB h1 element styling*/

#movie {

    font-weight: bold;
    font-size: 1.875em;
    text-decoration: underline;

}

/*OMDB p element styling*/

#pun {
font-weight: 700;
font-size: 0.9375em;
font-style: oblique;
}

/* Styling for icons in Submit button*/

#play-button {
margin-left: 0.625em;
}

/* Submit button styling*/

#submit {
    font-size: 1.125em;
    border-radius: 0.3125em;
  font-weight: lighter;
  font-size: 0.9375em;
}

#random {
 position: relative;
 right: -12.5em;
}

/* Styling for the div where user search results will display */

#json {
    font-weight: 400;
    font-size: 0.75em;
}


#results {
    position: relative;
    right: -43.75em;
    top: -12.5em;
    margin: 0.625em;
}

#subheader {
    font-weight: 500;
    font-size: 1.25em; 
}

/*OMDB styling ends*/
